/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/barlow-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.coffee {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.coffee__img {
  width: 236px;
  height: 26px;
}

.coffee__list {
  width: 283px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coffee__item {
  color: rgb(131, 136, 143);
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.92px;
  text-align: left;
  text-transform: uppercase;
}

.coffee__lastimg {
  width: 16px;
  height: 15px;
  display: none;
}

@media screen and (max-width: 820px) {
  .coffee {
    max-width: 689px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  }
}
@media screen and (max-width: 525px) {
  .coffee {
    max-width: 327px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  }
  .coffee__img {
    width: 163px;
    height: 18px;
  }
  .coffee__list {
    display: none;
  }
  .coffee__lastimg {
    display: inline-block;
  }
}
.about__box {
  height: 450px;
  background-image: url(../../img/rasm3.png);
  padding: 137px 0px 137px 85px;
  margin-top: 30px;
}

.about__textbox {
  width: 445px;
  height: 176px;
  display: flex;
  flex-wrap: wrap;
}

.about__title {
  color: rgb(254, 252, 247);
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.about__text {
  color: rgb(254, 252, 247);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 820px) {
  .about__box {
    max-width: 689px;
    height: 400px;
    background-image: url(../../img/rasm3.png);
    padding: 118px 0px 118px 58px;
    margin: auto;
    margin-top: 30px;
  }
  .about__textbox {
    max-width: 398px;
    height: 164px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 525px) {
  .about__box {
    max-width: 327px;
    height: 400px;
    background-image: url(../../img/rasm3.png);
    padding: 111px 24px 87px 24px;
    margin: auto;
    margin-top: 30px;
  }
  .about__textbox {
    max-width: 279px;
    height: 202px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
.commitment__box {
  height: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}

.commitment__img {
  width: 445px;
  height: 520px;
}

.commitment__textbox {
  max-width: 540px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
}

.commitment__title {
  color: rgb(51, 61, 75);
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.commitment__text {
  color: rgb(51, 61, 75);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.8;
}

@media screen and (max-width: 988px) {
  .commitment__box {
    max-width: 700px;
    height: 470px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 160px;
  }
  .commitment__img {
    width: 281px;
    height: 470px;
  }
  .commitment__textbox {
    max-width: 339px;
    height: 453px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 620px) {
  .commitment__box {
    max-width: 327px;
    height: 901px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 160px;
  }
  .commitment__img {
    width: 327px;
    height: 400px;
  }
  .commitment__textbox {
    max-width: 327px;
    height: 453px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
}
.quality__box {
  height: 562px;
}

.quality__img {
  position: absolute;
  width: 445px;
  height: 474px;
  left: 830px;
  right: 5px;
  top: 1419px;
  bottom: -1331px;
}

.quality__smallbox {
  height: 474px;
  background-color: #262D36;
  padding: 88px 0px 176px 85px;
  margin-top: 290px;
}

.quality__textbox {
  max-width: 540px;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
}

.quality__title {
  color: rgb(254, 252, 247);
  font-family: Fraunces 9pt;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.quality__text {
  color: rgb(254, 252, 247);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.8;
}

@media screen and (max-width: 990px) {
  .quality__box {
    max-width: 688px;
    height: 648px;
    margin: auto;
  }
  .quality__img {
    position: absolute;
    left: 125px;
    top: 1250px;
    max-width: 573px;
    height: 320px;
  }
  .quality__smallbox {
    max-width: 688px;
    height: 488px;
    background-color: #262D36;
    padding: 224px 74px 67px 74px;
    margin-top: 290px;
  }
  .quality__textbox {
    max-width: 540px;
    height: 197px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (max-width: 685px) {
  .quality__box {
    max-width: 327px;
    height: 587px;
    margin: auto;
  }
  .quality__img {
    position: absolute;
    left: 186px;
    top: 1360px;
    max-width: 279px;
    height: 156px;
  }
  .quality__smallbox {
    max-width: 327px;
    height: 509px;
    background-color: #262D36;
    padding: 142px 24px 61px 24px;
    margin-top: 290px;
  }
  .quality__textbox {
    max-width: 279px;
    height: 306px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
@media screen and (max-width: 628px) {
  .quality__img {
    position: absolute;
    left: 120px;
    top: 1785px;
    max-width: 279px;
    height: 156px;
  }
}/*# sourceMappingURL=main.css.map */